.pageCont{
    max-width: 960px;
    border: 1px solid blue;
    margin: 0 auto;
}

.contentCont{
    text-align: center;
    border: 1px solid red;
}

.answerCont{
    margin: 0 auto;
    max-width: 25em;
}

.choiceCont{
    /* border: 2px solid red; */
    padding-bottom: 20px;
    
}

button.stack{
    margin-bottom: 1em;
    text-align: left;
}

.hideAns{
    visibility: hidden;
}