div{

    border: 1px solid red;
}

.pageCont{
    max-width: 960px;
    /* border: 1px solid blue; */
    margin: 0 auto;
    margin-bottom: 10px;
}

.contentCont{
    text-align: center;
    /* border: 1px solid red; */
}

.answerCont{
    margin: 0 auto;
    max-width: 25em;
}

.choiceCont{
    /* border: 2px solid red; */
    padding-bottom: 20px;
    
}

button.stack{
    margin-bottom: 1em;
    text-align: left;
}

.success{
    color: green;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.75em;
}

.failure{
    color: red;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5em; 
}

.attempt{
    color: orange;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 1.5em; 
}

.hideAns{
    visibility: hidden;
}

.hideMenu{
    display: none;
}
@media only screen and (max-width: 768px) { 
    /* For mobile phones: */

    .answerCont{
        max-width: 18em;
    }
  } 